.layout {
  min-height: 100vh;
  background-color: #cfcfcf;
  background-image: repeating-linear-gradient(
      135deg,
      #ffffff22 0 1px,
      transparent 1px 40px
    ),
    repeating-linear-gradient(45deg, #ffffff11 0 1px, transparent 1px 40px);
}

.layoutGray {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(135deg,
      #00000004 0 1px,
      transparent 1px 40px),
    repeating-linear-gradient(45deg, #00000004 0 1px, transparent 1px 40px);
}